3. Windows Communication Foundation/03.WCF-Homework/02.DateTimeService.Client/Service References/DateTimeServiceReference/ServiceDatetime1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetWeekDay">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWeekDayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetWeekDayResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>